n8n_instagram.json
{
  "name": "INSTAGRAM WORKFLOW",
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.brightdata.com/datasets/v3/trigger",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "=dataset_id",
              "value": "gd_lk5ns7kz21pck8jpis"
            },
            {
              "name": "include_errors",
              "value": "true"
            },
            {
              "name": "type",
              "value": "discover_new"
            },
            {
              "name": "discover_by",
              "value": "url"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 56bc6e42e55aaa878106a499b8c6bdfe49b51ff2ac6867e8a0eaabb9871baf7b"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "=[\n  {\n    \"url\": \"https://www.instagram.com/{{ $json.chatInput }}/\",\n    \"num_of_posts\": 13,\n    \"start_date\": \"\",\n    \"end_date\": \"\",\n    \"post_type\": \"\"\n  }\n]",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -20,
        200
      ],
      "id": "8d3ff40d-8426-4792-ab56-2accf17d2d11",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "url": "=https://api.brightdata.com/datasets/v3/snapshot/{{ $json.snapshot_id }}",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "format",
              "value": "json"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 56bc6e42e55aaa878106a499b8c6bdfe49b51ff2ac6867e8a0eaabb9871baf7b"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        400,
        200
      ],
      "id": "c2f66c6b-edd1-4a1e-b74b-193bce18c125",
      "name": "HTTP Request2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e5e00b67-ff5c-4075-beef-df981865f668",
              "name": "post_url",
              "value": "={{ $json.url }} ",
              "type": "string"
            },
            {
              "id": "fdfc1e7b-250a-48a6-9e3b-015247207b2e",
              "name": "caption",
              "value": "={{ $json.description }}",
              "type": "string"
            },
            {
              "id": "b6832a35-7a50-4453-a100-f209f596e337",
              "name": "comments",
              "value": "={{ $json.num_comments }}",
              "type": "number"
            },
            {
              "id": "d9389f05-59ce-46e4-bf2c-f93b6f10fe69",
              "name": "date_posted",
              "value": "={{ $json.date_posted }}",
              "type": "string"
            },
            {
              "id": "eb131e0d-3e60-475f-964c-0ba6b01b51d4",
              "name": "likes",
              "value": "={{ $json.likes }}",
              "type": "number"
            },
            {
              "id": "170a2c58-ca93-48a9-aecc-b07c5b0cee82",
              "name": "thumbnail_url",
              "value": "={{ $json.photos[0] }}",
              "type": "string"
            },
            {
              "id": "3e1c4ed1-f0e9-4a7a-8430-97cd431d7342",
              "name": "account_id",
              "value": "={{ $('When chat message received').item.json.chatInput }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        580,
        300
      ],
      "id": "e01cbda9-c50b-4f75-be39-29f78efde875",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "amount": 35
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        220,
        300
      ],
      "id": "6b65854b-9ebc-45ba-a677-e381ec82fbc2",
      "name": "Wait",
      "webhookId": "48f21675-2252-4d6d-8d15-0e51369c2efd"
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appiB6h5WZFv68Yyc",
          "mode": "list",
          "cachedResultName": "Imported Base",
          "cachedResultUrl": "https://airtable.com/appiB6h5WZFv68Yyc"
        },
        "table": {
          "__rl": true,
          "value": "tblmqcmeqgOsHLwD4",
          "mode": "list",
          "cachedResultName": "Posts",
          "cachedResultUrl": "https://airtable.com/appiB6h5WZFv68Yyc/tblmqcmeqgOsHLwD4"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Date posted": "={{ $json.date_posted }}",
            "POST URL": "={{ $json.post_url }}",
            "Caption": "={{ $json.caption }}",
            "Comments": "={{ $json.comments }}",
            "THUMB": "=[\n  {\n    \"url\": \"{{ $json.thumbnail_url }}\"\n  }\n]\n",
            "Likes": "={{ $json.likes }}",
            "Account id": "={{ $json.account_id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Account id",
              "displayName": "Account id",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "POST URL",
              "displayName": "POST URL",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Caption",
              "displayName": "Caption",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Likes",
              "displayName": "Likes",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Comments",
              "displayName": "Comments",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Date posted",
              "displayName": "Date posted",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "THUMB",
              "displayName": "THUMB",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Attachment Summary",
              "displayName": "Attachment Summary",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        760,
        200
      ],
      "id": "7b766f53-a2c6-42cf-8e79-68e8d3c31b37",
      "name": "Airtable",
      "credentials": {
        "airtableTokenApi": {
          "id": "IJcJ87HLNpIUpwld",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -260,
        280
      ],
      "id": "8b1099ec-b04b-492a-8b74-ef381529d140",
      "name": "When chat message received",
      "webhookId": "89c20093-2bba-4da1-bcf8-74656642b421"
    },
    {
      "parameters": {
        "content": "\n✅ What this workflow does:\n- Accepts an Instagram username from Chat\n- Scrapes latest 13 posts using BrightData API\n- Extracts caption, likes, comments, date, thumbnail\n- Uploads structured post data into Airtable (including image thumbnails)\n",
        "height": 180,
        "width": 360,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -220,
        -140
      ],
      "id": "6bc376a4-737f-4c28-8252-6b2da8161986",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "🛠 How to use:\n1. Trigger this by sending a chat message with an Instagram handle (e.g., `openai`)\n(Don't use '@')\n2. Wait 30–35 seconds while data is collected\n3. View the structured post data in Airtable directly through the link\n",
        "height": 200,
        "width": 400,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        180,
        -140
      ],
      "id": "ddb5dfac-6b8b-4ce6-8f36-303c95708d91",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "\n💡 Tip: Set Airtable Gallery View to get a clean 3×4 visual layout.\n",
        "height": 80,
        "width": 280,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        620,
        -140
      ],
      "id": "ac0173fe-7fed-41a5-b897-1035c4bf70e1",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "\n\n     n8n “Instagram x AI” Mini-Project",
        "height": 80,
        "width": 260,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        240,
        -280
      ],
      "id": "987113e6-cec2-40f1-8b18-0978d1283f5e",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "This is the airtable gallery link:\n\nhttps://airtable.com/appiB6h5WZFv68Yyc/shrgXpu6pz4i3Xo1T\n\n\nClick Once Executed !",
        "height": 120,
        "width": 280,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        620,
        -40
      ],
      "id": "efabdc16-b083-4d35-b4a6-46e0874cd6b2",
      "name": "Sticky Note4"
    }
  ],
  "pinData": {},
  "connections": {
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Airtable",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Airtable": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "bcca20bf-e5df-4c4f-a003-7be05552f1c9",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0bbe2da02b625a9d2a2398f05b395ff8f27d9dd1fed1957fc7e30a92f307725c"
  },
  "id": "vgMr0QXsG0fe1NoB",
  "tags": []
}
